﻿@{
    ViewData["Title"] = "Giới thiệu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page Header Start -->
<div class="container-fluid py-5 mb-5 wow fadeIn" style="background: url('/img/imgpetcare/banner2.jpg')" data-wow-delay="0.1s">
    <div class="container text-center py-5">
        <h1 class="display-3 text-dark mb-4 animated slideInDown">Giới thiệu</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">About</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->
<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-end">
            <div class="col-lg-6">
                <div class="row g-2">
                    <div class="col-6 position-relative wow fadeIn" data-wow-delay="0.7s">
                        <div class="about-experience bg-secondary rounded">
                            <h1 class="display-1 mb-0">M</h1>
                            <small class="fs-5 fw-bold">Pet đẹp, pet vui</small>
                        </div>
                    </div>
                    <div class="col-6 wow fadeIn" data-wow-delay="0.1s">
                        <img class="img-fluid rounded" src="img/imgpetcare/nd1.jpg">
                    </div>
                    <div class="col-6 wow fadeIn" data-wow-delay="0.3s">
                        <img class="img-fluid rounded" src="img/imgpetcare/nd2.jpg">
                    </div>
                    <div class="col-6 wow fadeIn" data-wow-delay="0.5s">
                        <img class="img-fluid rounded" src="img/imgpetcare/nd3.jpg">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <p class="section-title bg-white text-start text-primary pe-3">Về chúng tôi</p>
                <h1 class="mb-4">Chăm sóc thú cưng với tất cả yêu thương</h1>
                <div class="row g-5 pt-3 mb-5">
                    <div class="col-sm-6">
                        <img class="img-fluid mb-4" src="img/service.png" alt="">
                        <h5 class="mb-3">Dịch vụ chuyên nghiệp, tận tâm</h5>
                        <span>Chúng tôi cung cấp các dịch vụ spa, trông giữ thú cưng,... với đội ngũ nhân viên giàu kinh nghiệm và yêu thương động vật.</span>
                    </div>
                    <div class="col-sm-6">
                        <img class="img-fluid mb-4" src="img/product.png" alt="">
                        <h5 class="mb-3">An toàn, thân thiện, chất lượng</h5>
                        <span>Cửa hàng được thiết kế với không gian sạch sẽ, thoải mái, giúp các bé có những trải nghiệm thư giãn và vui vẻ nhất.</span>
                    </div>
                </div>
                <a class="btn btn-secondary rounded-pill py-3 px-5" href="">Đặt lịch ngay</a>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- Team Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <p class="section-title bg-white text-center text-primary px-3">Về nhân viên</p>
            <h1 class="mb-5">Tận tâm & chức trách</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item rounded p-4">
                    <img class="img-fluid rounded mb-4" style="height: 310px" src="img/imgpetcare/vdth.jpg" alt="">
                    <h5>Đinh Vũ Hề</h5>
                    <p class="text-primary">nhân viên</p>
                    <div class="d-flex justify-content-center">
                        <a class="btn btn-square btn-outline-secondary rounded-circle mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-square btn-outline-secondary rounded-circle mx-1" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-square btn-outline-secondary rounded-circle mx-1" href=""><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="team-item rounded p-4">
                    <img class="img-fluid rounded mb-4" src="img/imgpetcare/nguthuhan.jpg" alt="">
                    <h5>Ngu Thư Hân</h5>
                    <p class="text-primary">nhân viên trưởng</p>
                    <div class="d-flex justify-content-center">
                        <a class="btn btn-square btn-outline-secondary rounded-circle mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-square btn-outline-secondary rounded-circle mx-1" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-square btn-outline-secondary rounded-circle mx-1" href=""><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="team-item rounded p-4">
                    <img class="img-fluid rounded mb-4" src="img/imgpetcare/v.jpg" alt="">
                    <h5>Vương Hạc Đệ</h5>
                    <p class="text-primary">nhân viên</p>
                    <div class="d-flex justify-content-center">
                        <a class="btn btn-square btn-outline-secondary rounded-circle mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-square btn-outline-secondary rounded-circle mx-1" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-square btn-outline-secondary rounded-circle mx-1" href=""><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Team End -->
<!-- Testimonial Start -->
@* <div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <p class="section-title bg-white text-center text-primary px-3">Về đánh giá</p>
            <h1 class="mb-5">Mọi người nói gì về chúng tôi???</h1>
        </div>
        <div class="row g-5 align-items-center">
            <div class="col-lg-5 wow fadeInUp" data-wow-delay="0.1s">
                <div class="testimonial-img">
                    <img class="img-fluid animated pulse infinite" src="img/testimonial-1.jpg" alt="">
                    <img class="img-fluid animated pulse infinite" src="img/testimonial-2.jpg" alt="">
                    <img class="img-fluid animated pulse infinite" src="img/testimonial-3.jpg" alt="">
                    <img class="img-fluid animated pulse infinite" src="img/testimonial-4.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-7 wow fadeInUp" data-wow-delay="0.5s">
                <div class="owl-carousel testimonial-carousel">
                    <div class="testimonial-item">
                        <img class="img-fluid mb-3" src="img/testimonial-1.jpg" alt="">
                        <p class="fs-5">Dolores sed duo clita tempor justo dolor et stet lorem kasd labore dolore lorem ipsum. At lorem lorem magna ut et, nonumy et labore et tempor diam tempor erat.</p>
                        <h5>Client Name</h5>
                        <span class="text-primary">Profession</span>
                    </div>
                    <div class="testimonial-item">
                        <img class="img-fluid mb-3" src="img/testimonial-2.jpg" alt="">
                        <p class="fs-5">Dolores sed duo clita tempor justo dolor et stet lorem kasd labore dolore lorem ipsum. At lorem lorem magna ut et, nonumy et labore et tempor diam tempor erat.</p>
                        <h5>Client Name</h5>
                        <span class="text-primary">Profession</span>
                    </div>
                    <div class="testimonial-item">
                        <img class="img-fluid mb-3" src="img/testimonial-3.jpg" alt="">
                        <p class="fs-5">Dolores sed duo clita tempor justo dolor et stet lorem kasd labore dolore lorem ipsum. At lorem lorem magna ut et, nonumy et labore et tempor diam tempor erat.</p>
                        <h5>Client Name</h5>
                        <span class="text-primary">Profession</span>
                    </div>
                    <div class="testimonial-item">
                        <img class="img-fluid mb-3" src="img/testimonial-4.jpg" alt="">
                        <p class="fs-5">Dolores sed duo clita tempor justo dolor et stet lorem kasd labore dolore lorem ipsum. At lorem lorem magna ut et, nonumy et labore et tempor diam tempor erat.</p>
                        <h5>Client Name</h5>
                        <span class="text-primary">Profession</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> *@
<!-- Testimonial End -->
