﻿<div class="preloader flex-column justify-content-center align-items-center">
    <img class="animation__shake" src="~/dist/img/logo_DevXuongMoc.png" alt="DevXuongMocLogo" height="100" width="100">
</div>
