@model Pet_Care.Models.Appointment

@{
    ViewData["Title"] = "Create Appointment";
    Layout = "~/Areas/AdminQL/Views/Shared/_Admins.cshtml";
}

<div class="container mt-4">
    <div class="card shadow-lg">
        <div class="card-header bg-primary text-white text-center">
            <h2>Tạo mới lịch hẹn</h2>
        </div>
        <div class="card-body">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>

                <div class="mb-3">
                    <label asp-for="AppointmentDate" class="form-label fw-bold"></label>
                    <input asp-for="AppointmentDate" type="date" class="form-control" />
                    <span asp-validation-for="AppointmentDate" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="AppointmentTime" class="form-label fw-bold"></label>
                    <input asp-for="AppointmentTime" type="time" class="form-control" />
                    <span asp-validation-for="AppointmentTime" class="text-danger"></span>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-success px-4">Tạo mới</button>
                    <a asp-action="Index" class="btn btn-secondary px-4">Quay lại</a>
                </div>
            </form>
        </div>
    </div>
</div>
